.buttons-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2em 0 0 0;
}
.button-category{
  font-weight: 600;
  padding: 0.8em 5em;
  text-align: center;
  margin-left: 1em;
  border-radius: 15px;
  cursor: pointer;

  border: 1px solid #0065FF;
  background-color: #fff;
  color: #0065FF ;
  padding: 0.5em 0.7em;
  font-size: 1.2rem;
  
}
.button-category:hover{
  color: #fff;
  background-color: #0065FF;
  transition: 0.6s;
}

/* Items */
.items-container{
  margin-top:4em ;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap:20px;
  
}
.item > h2, .item-title{
  color:black
}
.item > img{
  width: 100%;
}
.active-button{
  color: #fff;
  background-color: #0065FF;
}
.item-data{
  color:#999EA7;
}
.items-container a{
  text-decoration: none;
}
/* Event Intro  */
.event__intro {
  display: grid;
  grid-template-areas: "text image";
  grid-template-columns: auto 300px; /* Adjust image width as needed */
  position: relative;
}

.event__intro h1 {
  grid-area: text;
}

.image {
  grid-area: image;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 44em;
  width: 100%; /* Make the image fill its grid area */
  height: 100%; /* Make the image fill its grid area */
  background-size: cover;
  background-position: center;
}

/* Adjust the grid template columns based on screen size */
@media (max-width: 767px) {
  .event__intro {
    grid-template-columns: auto;
    grid-template-areas:
      "text"
      "image";
  }

  .image {
    position: static;
  }
}

